{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.snaptrude.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/import/permission": {
      "get": {
        "description": "Checks for two things for a given floorkey: \n 1. floorkey exists in Snaptrude \n 2. user has edit permission to the project",
        "parameters": [
          {
            "name": "floorkey",
            "in": "query",
            "description": "floorkey of the project",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checks for two things for a given floorkey",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["access"],
                  "type": "object",
                  "properties": {
                    "access": {
                      "description": "Either the user has access or not",
                      "type": "boolean"
                    },
                    "message": {
                      "description": "Success/failure (invalid)",
                      "type": "string"
                    },
                    "image": {
                      "description": "Latest screenshot of the project. Given as a path",
                      "type": "string"
                    },
                    "name": {
                      "description": "Project name",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/import/state": {
      "get": {
        "description": "Used to get the import state for given floorkey. The possible responses are: \n 1. \"NA\": Not available \n 2. \"NEW\": New project imported from revit \n 3. \"RFA\": RFA Pending Import \n 4. \"MODIFIED\": Modified project \n 5. \"DONE\": Imported project that is already upto date",
        "parameters": [
          {
            "name": "floorkey",
            "in": "query",
            "description": "floorkey of the project",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["project"],
                  "type": "object",
                  "properties": {
                    "project": {
                      "description": "",
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Project name",
                          "type": "string"
                        },
                        "importStates": {
                          "type": "object",
                          "description": "",
                          "properties": {
                            "revitImportState": {
                              "description": "Revit import state",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "floorkey does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "no project",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "unknown exception / server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "Internal Server Error",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Used to get the import state for given floorkey. The possible values to set are: \n 1. \"NA\": Not available \n 2. \"NEW\": New project imported from revit \n 3. \"RFA\": RFA Pending Import \n 4. \"MODIFIED\": Modified project \n 5. \"DONE\": Imported project that is already upto date",
        "parameters": [
          {
            "name": "floorkey",
            "in": "query",
            "description": "floorkey of the project",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revitImportState",
            "in": "query",
            "description": "must be NA/NEW/RFA/MODIFIED/DONE",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["project"],
                  "type": "object",
                  "properties": {
                    "project": {
                      "description": "",
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Project name",
                          "type": "string"
                        },
                        "importStates": {
                          "type": "object",
                          "description": "",
                          "properties": {
                            "revitImportState": {
                              "description": "Revit import state",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "floorkey does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "no project",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "unknown exception / server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "Internal Server Error",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "unknown exception / server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "Internal Server Error",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": ["id"],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
